-i https://pkgs.safetycli.com/repository/home-e3a2a/project/mcp/pypi/simple/
detect-secrets
docker
fastapi
fastmcp
kubernetes
langchain
langchain-anthropic
langchain-community
langchain-google-genai
langchain-ollama
langchain-openai
langchain_core
markdown
mcp-cli
mcp-server
mysql-connector-python
ollama
PathSpec
pre-commit
psycopg2-binary
pyodbc
pypdf
PyQt6
pytest
python-dotenv
reportlab
safety
torch
torchaudio --index-url https://download.pytorch.org/whl/cpu
torchvision
uvicorn
