-i https://pkgs.safetycli.com/repository/home-e3a2a/project/mcp/pypi/simple/
detect-secrets
docker
fastapi
fastmcp
kubernetes
langchain
langchain-anthropic
langchain-community
langchain-google-genai
langchain-ollama
langchain-openai
langchain_core
mcp-cli
mcp-server
ollama
pre-commit
pytest
python-dotenv
safety
torch
torchaudio --index-url https://download.pytorch.org/whl/cpu
torchvision
uvicorn
