-i https://pkgs.safetycli.com/repository/home-e3a2a/project/mcp/pypi/simple/
detect-secrets
docker
fastapi
fastmcp
kubernetes
langchain
mcp-cli
mcp-client
mcp-server
ollama
pytest
python-dotenv
uvicorn
